table {
  margin-left: 10px;
  margin-top: 25px;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.id {
  font-weight: bolder;
}