nav {
    background-color: rgb(147, 142, 142);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo a {
    color: rgb(63, 196, 249);
    font-size: 32px;
    text-decoration: none;
  } 
  .menu {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 10px;
  }
  
  .menu li {
    list-style: none;
    margin: 0 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  .menu li:last-child a {
    padding-right: 40px;
  }
  .menu li:last-child .winkelmandje {
    margin-top: -5px;
  }
.winkelmandje {
    height: 30px;
    width: 30px;    
}

.tekst {
  padding-top: 50px;
}
p {
  font-size: large;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 20px;

}
.kraan {
  float: right;
  position: relative;
  bottom: 310px;
  right: 40px;
  z-index: -1;
}
#winkelwagen-aantal {
  position: absolute;
  top: 20px;
  right: 70px;
  width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  display: none;
}