  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .afrekenen {
    background-color: rgb(63, 196, 249);
    border-color: rgb(63, 196, 249);
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
  }
  #winkelwagen-aantal {
    position: absolute;
    top: 20px;
    right: 70px;
    width: 16px;
    height: 16px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    display: none;
  }