  label {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    margin-left: 22px;
  }

  input, select {
    padding: 4px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    margin-left: 22px;
    font-size: 18px;
    width: 90%;
  }
  .img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 86.3%;
  }

  .button {
    height: 38px;
    margin-left: -5px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(63, 196, 249);
    color: white;
    border-color: #ccc;
  }

  .input-met-button {
    display: flex;
  }
  .voegtoe {
    background-color: rgb(63, 196, 249);
    border-color: rgb(63, 196, 249);
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    width: 80px;
    height: 40px;
    font-size: medium;
  }
  .preview {
    max-width: 300px;
    margin-left: 48px;
    margin-top: 20px;
  }